body {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    color: #ffffff;
}

h1,
h2,
#combatData {
    font-family: 'Geostar Fill', cursive;
}

div {
    width: 100%;
}

#chooseChar {
    display: inline;
    text-align: center;
    width: 100%;
    height: 100%;
}

.charSel {
    display: inline-block;
}



